
/* :root {
  --green: rgb(39, 189, 39);
} */

* {
  margin: 1;
  padding: 1;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", sans-serif;
}

main {
  padding: 0 1rem;
}



button {
  padding: 0.25rem 1rem;
  margin-left: 1rem;
  font-family: inherit;
  border: solid;
  border-color: black;
  cursor: pointer;
}

button.primary {
  background-color: var(--green);
  color: white;
}

.app {
  margin: 0 auto;
  /* max-width: 1200px; */
}

header h1 {
  text-align: center;  
}

header .login {
  background-color: black;
  color: white;
  display: flex;
  justify-content: right;
  margin-left: 1rem;
  
}

header .navbar {
  padding: 1rem 1rem;
  margin: 1rem 1rem;
  display: flex;
  justify-content: left ;
}

.home {
  padding: 1rem 1rem;
  /* margin: 1rem 1rem; */
  align-items: center;
  display: flex;
  flex-direction: column;
}

.navigateBtn {
  width: 300px;
  padding: 1rem 1rem;
  margin: 1rem 1rem;
  background-color: rgb(241, 112, 6);
  font-size: large;
  font-weight: 600;
}

h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center; 
}

.new-movie-form {
  padding: 1rem 1rem;
  margin: 1rem 1rem;
  background-color: rgb(236, 196, 17);
}

.new-movie-form form {
  display: flex;
  justify-content: center;
}

.new-movie-form input {
  margin-right: 1rem;
  margin-left: 1rem;
  flex: 1;
  
}

.new-movie-form button {
  width: 150px;
  background-color: rgb(241, 112, 6);
  font-size: large;
  font-weight: 600;
}

.searchbar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  display: block;
}

input {
  padding: 0.25rem;
  border: none;
  font-family: inherit;
  font-size: 1.2em;
  border-bottom: 2px solid gray;
  transition: all 0.2s;
  width: 100%;
}

input:focus {
  outline: none;
  border-bottom: 2px solid var(--green);
}

.cards {
  list-style: none;
}

.card {
  margin: 1rem;
}

.card img {
  width: 70%;
}

.card button {  
  margin-top: 0.5rem;
  margin: 0rem 0rem;
}

.card .notWatched {
  background-color: rgb(241, 112, 6);
}

.card .delete {
  background-color: rgb(236, 196, 17);
}



@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(20% - 2rem);
  }
}
